# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Editor/IDE specific files
.vscode/
.idea/
*.iml

# Logs
logs/
*.log
*.out

# OS-specific files
.DS_Store
Thumbs.db

# Dependency management
*.lock
poetry.lock
Pipfile
Pipfile.lock

# Environment variables
.env
*.env
.env

myenv/